body{
    font-family: sans-serif;
    background-color: white;
}
.mainbar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo img{
    height: 50px;
}
.myform{
    margin-left: 300px;  
}
.myform input{
    border-radius: 10px;
    width:300px;
    height: 25px;
}
.icon{
    margin-left: 250px;
}
.icon i{
    padding: 10px;
    margin-right: 5px;
    
}
.nav{
    background-color: rgb(224, 198, 198);
    font-size: 10px;
    padding-left: 10px;
}
.nav li{
    display: inline;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    color: aliceblue;
}
.nav a{
    text-decoration: none;
    color: rgb(15, 4, 4);
    font-size: 15px;
}
.sticky{
    position: sticky;
    top: 0%;
    background-color: white;
}
.picture img{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: rgb(249, 242, 242);
}
.inner-div {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    color: black;
    font-family: sans-serif;
    padding-top: 5px;


}
.inner-div h5{
   margin-left: 400px;
}

.grid{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* background-color: rgb(238, 225, 225); */
}
.photo img{
    display: inline;
    margin: 1px;
    margin: 0%;
    width: 100%;
    background-color:rgb(171, 99, 99)
}
.del{
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    background-color: rgb(245, 239, 239);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.dali{
    background-color: rgb(245, 239, 239);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.dali h3{
    font-family: sans-serif;
    font-weight: lighter;
}
.text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
